.Main-login {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 255, 0.1), rgba(0, 0, 255, 0.1)), url('../../assets/Sede-verde-capas.jpg'); 
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.Letters {
    background-color: rgba(255, 255, 255, 0.85); /* Mayor opacidad */
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    color: #333; /* Mejor contraste */
    max-width: 400px;
    width: 100%;
}

.Letters h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.Letters p {
    font-size: 1.2em;
    margin-bottom: 1.5em;
}

.input-group {
    margin-bottom: 1em;
    width: 100%;
}

.input-group input {
    width: 100%;
    padding: 12px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.input-group input:focus {
    border-color: #ff6600;
    box-shadow: 0 0 8px rgba(255, 102, 0, 0.5);
    outline: none;
}

.login-button {
    width: 100%; 
    background-color: #ff6600; 
    color: white;
    border: none;
    padding: 12px 0; 
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 1em; 
}

.login-button:hover {
    background-color: #e65c00; /* Más oscuro al pasar el cursor */
}

.login-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.register-button {
    display: inline-block;
    background-color: transparent;
    color: #ffff;
    font-size: 1em;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: underline;
    margin-top: 10px;
}

.register-button:hover {
    text-decoration: none;
}


@media (max-width: 600px) {
    .Letters {
        padding: 20px;
        max-width: 300px;
    }

    .Letters h1 {
        font-size: 2em;
    }

    .Letters p {
        font-size: 1em;
    }

    .input-group input {
        padding: 10px;
        font-size: 0.9em;
    }

    .login-button {
        padding: 10px 0;
        font-size: 1em;
    }
}
