.financial-status-container {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .financial-status-container h2 {
    text-align: center;
    color: #003366;
  }
  
  .financial-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .financial-table th, .financial-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  .financial-table th {
    background-color: #003366;
    color: white;
  }
  
  .even-row {
    background-color: #f2f2f2;
  }
  
  .odd-row {
    background-color: #ddd;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    padding: 8px 12px;
    margin: 0 5px;
    background-color: #003366;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination span {
    display: inline-block;
    padding: 8px 12px;
    color: #003366;
    font-weight: bold;
  }
  

  /* .star {
    visibility:hidden;
    font-size:30px;
    cursor:pointer;
}
.star:before {
   content: "\2605";
   position: absolute;
   visibility:visible;
}
.star:checked:before {
   content: "\2606";
   position: absolute;
} */