header {
    width: 100%;
    background-color: #001f3f; /* Color del header */
    color: white;
    padding: 15px 20px;
    text-align: center;
    position: sticky; /* Omitir posición fija/absoluta */
    top: 0;
    z-index: 10; /* Asegura que esté sobre otros elementos */
}


.Header-TopBar {
    background-color: #1D2256; /* Fondo azul oscuro */
    height: 60px; /* Altura fija del header */
    display: flex;
    align-items: center;
    justify-content: space-between; /* Logo a la izquierda, menú a la derecha */
    padding: 0 20px; /* Espaciado interno */
    border-bottom: 3px solid orange; /* Línea inferior */
    position: sticky; /* Header visible mientras se desplaza */
    top: 0;
    z-index: 1000;
    margin: 0; /* Elimina márgenes extras */
}



.Logo-Space {
    display: flex;
    align-items: center; 
}

.Logo img {
    height: 70px; 
    width: auto; 
    object-fit: contain; 
}

.Header-Menu {
    display: flex; 
    align-items: center;
    justify-content: flex-end; /* Esto alinea los links a la derecha */
}

.Header-Link {
    color: white; /* Color blanco para los enlaces */
    margin-left: 20px; /* Espacio entre los enlaces */
    text-decoration: none; /* Elimina el subrayado */
    font-weight: 500; /* Peso de la fuente para que se vea más prominente */
}

.Header-Link:hover {
    color: orange; /* Color cuando el mouse pasa por encima */
}

.Header-Link-Button {
    background: rgba(255, 166, 0, 0.918);
    padding: 10px;
    display: inline-block;
    border: none;
    border-radius: 5px;
    color: #ffff;
    font-weight: 500;
    margin-left: 20px;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out; /* Agregamos una transición */
}

.Header-Link-Button:hover {
    background-color: #1D2256;
}
