.Header-TopBar {
    background-color: #1D2256; /* Fondo azul oscuro */
    height: 60px; 
    display: flex;
    align-items: center; 
    border-bottom: 3px solid orange; 
    padding: 0 20px; 
    justify-content: space-between; /* Esto asegura que el logo se quede a la izquierda y el menú a la derecha */
}

.Logo-Space {
    display: flex;
    align-items: center; 
}

.Logo img {
    height: 70px; 
    width: auto; 
    object-fit: contain; 
}

.Header-Menu {
    display: flex; 
    align-items: center;
    justify-content: flex-end; /* Esto alinea los links a la derecha */
}

.Header-Link {
    color: white; /* Color blanco para los enlaces */
    margin-left: 20px; /* Espacio entre los enlaces */
    text-decoration: none; /* Elimina el subrayado */
    font-weight: 500; /* Peso de la fuente para que se vea más prominente */
}

.Header-Link:hover {
    color: orange; /* Color cuando el mouse pasa por encima */
}

.Header-Link-Button {
    background: rgba(255, 166, 0, 0.918);
    padding: 10px;
    display: inline-block;
    border: none;
    border-radius: 5px;
    color: #ffff;
    font-weight: 500;
    margin-left: 20px;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out; /* Agregamos una transición */
}

.Header-Link-Button:hover {
    background-color: #1D2256;
}
