.sidebar {
  width: 250px;
  background-color: #003366;
  color: white;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 30px;
  box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar button {
  background-color: #00509e;
  color: white;
  border: none;
  padding: 12px 20px;
  margin: 12px 0;
  font-size: 18px;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
  width: 60%;
  transition: background-color 0.3s, transform 0.3s ease-in-out;
}

.sidebar button:hover {
  background-color: #003366;
  transform: scale(1.1); 
}

.data-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.data-buttons button {
  background-color: #003366;
  color: white;
  border: none;
  padding: 12px 20px;
  margin: 12px 0;
  font-size: 16px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  width: 80%;
  transition: background-color 0.3s, transform 0.3s ease-in-out;
}

.data-buttons button:hover {
  background-color: #00509e;
  transform: scale(1.05); 
}

.sidebar button, .data-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar button span, .data-buttons button span {
  margin-left: 10px; 
  font-weight: bold;
}

.sidebar button i, .data-buttons button i {
  font-size: 22px;
}

.sidebar button, .data-buttons button {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


.sidebar button.active, .data-buttons button.active {
  background-color: #001f3d;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.1); 
}
