.notfound-container {
    text-align: center;
    padding: 50px;
    background-color: #f9f9f9;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .notfound-container h1 {
    font-size: 6rem;
    color: #ff6600;
  }
  
  .notfound-container p {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .notfound-container button {
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .notfound-container button:hover {
    background-color: #003d80;
  }
  